%div User History:
- if @data['items']
  - @data['items'].each do |item|
    %pre
      %table
        %tr
          %td Short URL:
          %td= link_to item['id'], item['id']
        %tr
          %td Long URL:
          %td= link_to item['longUrl'], item['longUrl']
        %tr
          %td Created:
          %td= item['created']
- else
  %p
    No history found, please visit 
    = link_to 'https://goo.gl', 'https://goo.gl'

%div.center= link_to 'Back', root_path, class: 'btn btn-default'
